.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button[mat-button] {
  margin-bottom: 20px;
}

.tooltip-input {
  padding-top: 20px;
}
