<div class="center-container">
  <button
    mat-button
    appPermissionButton
    [viewerTooltip]="viewerTooltip.getRawValue()"
    [isViewerDisabled]="isViewerDisabled">
    Action
  </button>

  <button mat-raised-button color="primary" (click)="toggleState()">
    Toggle (Current - {{isViewerDisabled ? 'Disabled' : 'Active'}})
  </button>

  <mat-form-field class="tooltip-input">
    <mat-label>Tooltip</mat-label>
    <input matInput placeholder="Enter tooltip" [formControl]="viewerTooltip">
  </mat-form-field>
</div>
